# Connect to the BSC mainnet or testnet (replace the URL with the appropriate endpoint)
BSC_RPC= https://bsc-dataseed1.binance.org:443

SWAPPING_THE_TO_LIVETHE_RATE = 

SWAPPING_LIVETHE_TO_THE_RATE = 

YOUR_ADDRESS = 

PRIVATE_KEY = 

HOLDING_THE =