# Connect to the BSC mainnet or testnet (replace the URL with the appropriate endpoint)
BSC_RPC= https://bsc-dataseed1.binance.org:443

# Percent orccur swapping
SWAP_PERCENT = 10

# https://dashboard.defined.fi/plan
IDEFINEKEY = 

# Your wallet address
YOUR_ADDRESS = 

PRIVATE_KEY = 